* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    min-height: 100vh;
    color: black;
}
.master {
    display: flex;
}
.play-list {
    width: 25vw;
    height: 100vh;
    /* border: 2px solid black; */
    position: relative;
}
.music-player {
    width: 74vw;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.song {
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.list-items {
    /* height: 500px; */
    padding: 2px;
    display: flex;
    flex-direction: column;
}
.file-item {
    width: 100%;
    padding: 1px;
    margin-bottom: 5px;
}
#file-input, .select {
    position: absolute;
    bottom: 0;
    cursor: pointer;
}
#file-input {
    opacity: 0;
    left: 0;
    width: 5px;
}
.select {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    border-radius: 15px;
    padding: 5px 5px;
}
.canvas {
    flex-grow: 1;
    /* border: 2px solid green; */
    width: 100%;
    margin-bottom: 3px;
}
.bar-cir {
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.bar {
    background-color: black;
    height: 4px;
    margin-top: 16px;
    width: 100%;
}
.cir {
    background-color: black;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    position: absolute;
    bottom: -4px;
    left: 0;
}
.controler {
    border-radius: 20px;
    border: 1px solid black;
    /* height: 150px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 3px;
}
.name {
    margin-top: 10px;
}
.time {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
}
.loop {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

