* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  width: 100vw;
}
.number::before {
  content: attr(data-content);
  font-size: 6rem;
  position: absolute;
  -webkit-text-fill-color: #000f;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffffffad;
  top: -110px;
  left: -20px;
}
.number {
  position: relative;
  font-weight: 900;
  font-size: 4rem;
  display: inline-block;
  height: 1rem;
  line-height: 1;
  -webkit-text-stroke-width: 0.25rem;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}
.logo {
  width: 9.25rem;
  height: 2.5rem;
  color: rgb(229, 9, 20);
  fill: currentColor;
  display: block;
}
.translate {
  color: white;
}
.header {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  margin-top: 25px;
}
.upper {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.background-image {
  width: 100vw;
  background-image: url(assets/background.jpg);
  background-position: center center;
  filter: brightness(40%);
  background-size: cover;
}
.background-shade {
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 1;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.75)
  );
}
.background-image,
.background-shade,
.upper {
  height: calc(705px + 15vw);
}
.language {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-size: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: relative;
  padding: 5px 5px 5px 30px;
  border-radius: 5px;
}
.translate {
  position: absolute;
  left: 8px;
  top: 1px;
}
.menu {
  position: relative;
}
.sign-in {
  margin-left: 12px;
  background-color: #e50914;
  padding: 9px 15px;
  border: none;
  color: white;
  font-size: 0.9rem;
  border-radius: 5px;
  font-weight: 550;
}
.sign-in:hover {
  background-color: #c9252d;
}
.dummy {
  margin-top: 7px;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 934px;
}
.nowrap {
  white-space: nowrap;
}
.title {
  text-align: center;
  /* line-height: 1.5; */
  font-size: 2.5rem;
  font-weight: bolder;
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: #fff;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.prise {
  margin-bottom: 25px;
  font-size: 1.2rem;
  font-weight: 600;
}
.man {
  padding-inline: 110px;
}
.form {
  margin-top: 15px;
}
.email {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(214, 174, 174, 0.5);
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
  height: 60px;
  width: 450px;
  padding-inline-start: 10px;
  font: inherit;
}
.start {
  margin-left: 12px;
  background-color: #e50914;
  padding: 16px 50px;
  border: none;
  color: white;
  font-size: 1.5rem;
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
}
.start:hover {
  background-color: #c9252d;
}
.right-arrow {
  position: absolute;
  left: 190px;
  top: 19px;
}
.curve-container {
  position: relative;
  height: 200px;
}
.curve {
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  top: -105px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  border: solid 0.25rem transparent;
  border-top-left-radius: 100% 100%;
  border-top-right-radius: 100% 100%;
  border-bottom: none;
  background: radial-gradient(
      50% 500% at 50% -420%,
      rgba(64, 97, 231, 0.4) 80%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    black;
}
.curve:before {
  content: "";
  position: absolute;
  top: -5px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin-top: -0.25rem;
  border-radius: inherit;
  background: linear-gradient(
    to right,
    rgba(33, 13, 22, 1) 16%,
    rgba(184, 40, 105, 1),
    rgba(229, 9, 20, 1),
    rgba(184, 40, 105, 1),
    rgba(33, 13, 22, 1) 84%
  );
}
.main {
  display: flex;
  width: 100vw;
  flex-direction: column;
  background-color: black;
  width: 100%;
  height: 1000px;
  position: relative;
  z-index: 1;
}
.master {
  position: absolute;
  top: 0px;
  width: 80%;
  margin-left: 10%;
  height: 1000px;
}
.trending {
  width: 100%;
  padding-inline-start: 20px;
}
.title2 {
  padding-left: 5px;
  margin-bottom: 20px;
  color: white;
  font-size: 2rem;
  font-weight: 900;
}
#iron {
  margin-inline-start: 25px;
}
.ooo {
  padding-top: 20px;
  padding-inline-start: 20px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
  overflow: hidden;
}
.films {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: 0.4s transform;
}
.films:hover {
  transform: scale(1.05);
}
.films a img {
  border-radius: 10px;
}
.reasons {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 10px;
  flex-wrap: wrap;
}
.reason {
  background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
  width: 24%;
  height: 350px;
  border-radius: 15px;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
}
.reason h2 {
  margin-top: 35px;
}
.reason p {
  margin-top: 50px;
}
.reason div {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
@media screen and (max-width: 1280px) {
  .details {
    height: 635px;
  }
  .curve {
    border-top-left-radius: 138% 80%;
    border-top-right-radius: 138% 80%;
    background: radial-gradient(
        90% 500% at 50% -440%,
        rgba(64, 97, 231, 0.4) 80%,
        rgba(0, 0, 0, 0.1) 100%
      ),
      black;
  }
  .master {
    width: 80%;
    margin-left: 9%;
  }
  .number::before {
    font-size: 5.5rem;
    top: -91px;
    left: -15px;
  }
  .ooo {
    gap: 35px;
  }
  .reason {
    width: 49%;
    height: 220px;
  }
  .reason h2 {
    margin-top: 10px;
  }
  .reason p {
    margin-top: 20px;
  }
  .title {
    font-size: 2rem;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: #ffffff00;
    letter-spacing: 0px;
  }
  .email {
    width: 310px;
  }
  .start {
    padding: 16px 25px;
  }
  .right-arrow {
    left: 156px;
    top: 17px;
  }
}
@media screen and (max-width: 750px) {
  .logo {
    width: 5.25rem;
    height: 1.5rem;
  }
  .language {
    padding: 2.5px 2.5px 2.5px 20px;
    font-size: 0.7rem;
  }
  .translate {
    height: 20px;
    width: 12px;
  }
  .sign-in {
    margin-left: 5px;
    padding: 3.5px 7px;
    font-size: 0.8rem;
    font-weight: 500;
  }
  .title {
    font-size: 1.3rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
    letter-spacing: 1px;
  }
  .prise {
    font-size: 1.1rem;
    font-weight: 500;
  }
  .man {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
  }
  .details {
    padding: 20px;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
  }
  .curve {
    border-top-left-radius: 35% 10%;
    border-top-right-radius: 35% 10%;
  }
  .nux {
    display: flex;
    flex-direction: column;
  }
  #iron {
    margin: 0;
  }
  .ooo {
    gap: 20px;
  }
  .films img {
    width: 133px;
  }
  .title2 {
    font-size: 1.5rem;
  }
  .reason {
    width: 100%;
    height: 230px;
  }
  .start {
    padding: 10px 26px;
  }
  .right-arrow {
    top: 10px;
  }
}
