@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: salmon;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Permanent Marker", cursive;
}
.author-name {
    font-family: cursive;
    font-weight: 200;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    padding-inline-end: 10px;
}