@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap');

/* || RESET */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea {
    font: inherit;
}

/* || VARIABLES */

:root {
    /* FONTs */
    --FF: "Nunito", sans-serif;
    --FF_HEADINGS: "Fugaz One", cursive;
    --FS: clamp(1rem, 2.2vh,1, 5rem);

    /* COLORS */
    --BGCOLOR_FADE: rgb(252, 220, 160);
    --BGCOLOR: orange;
    --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR_FADE));
    --BODY_BGCOLOR: white;
    --BORDER_COLOR: #333;
    --BTN_COLOR: white;
    --FONT_COLOR: black;
    --HEADER_BGCOLOR: black;
    --HEADER_COLOR: white;
    --HERO_BGCOLOR: rgba(51, 178, 51, 0.75);
    --HERO_COLOR: white;
    --HIGHLIGHT_COLOR: rgb(51, 178, 51);
    --LINK_ACTIVE: orange;
    --LINK_COLOR: black;
    --LINK_HOVER: hsla(0, 0%, 0%, 0.6);
    --NAV_BGCOLOR: white;

    /* BORDERS */
    --BORDERS: 1px solid var(--BORDER_COLOR);
    --BORDER_RADIUS: 15px;

    /* STANDARD PADDING */
    --PADDING_BLOCK: 0.25em;
    --PADDING_INLINE: 2.5%;

    /* STANDARD MARGIN */
    --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --BGCOLOR_FADE: gray;
        --BGCOLOR: black;
        --BODY_BGCOLOR: #333;
        --BORDER_COLOR: whitesmoke;
        --BTN_COLOR: black;
        --FONT_COLOR: whitesmoke;
        --HEADER_COLOR: whitesmoke;
        --HERO_COLOR: #333;
        --HIGHLIGHT_COLOR: whitesmoke;
        --LINK_ACTIVE: rgb(252, 200, 103);
        --LINK_COLOR: whitesmoke;
        --LINK_HOVER: orange;
        --NAV_BGCOLOR: #202020;
    }
}

/* || UTILITY CLASSES */

.offscreen {
    position: absolute;
    right: 1000;
    color: white;
    z-index: -1;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

/* || GENERAL STYLES */

html {
    scroll-behavior: smooth;
    font-size: var(--FS);
    font-family: var(--FF);
    background-color: var(--BGCOLOR);
    background-image: var(--BGIMAGE);
}

body {
    background-color: var(--BODY_BGCOLOR);
    color: var(--FONT_COLOR);
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    border-inline: var(--BORDERS);
    box-shadow: 0 0 10px var(--BORDER_COLOR);
}

h1, h2, h3 {
    font-family: var(--FF_HEADINGS);
    letter-spacing: 0.1em;
}

h2, h3 {
    margin-bottom: 1em;
    color: var(--HIGHLIGHT_COLOR);
}

p {
    line-height: 1.5;
}

a:any-link {
    text-decoration: none;
    color: var(--LINK_COLOR);
}

a:hover, a:focus-visible {
    color: var(--LINK_HOVER);
}

a:active {
    color: var(--LINK_ACTIVE);
}

/* || HEADER */

.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.header__h1 {
    background-color: var(--HEADER_BGCOLOR);
    color: var(--HEADER_COLOR);
    padding: var(--PADDING_BLOCK) var(--PADDING_INLINE);
}

.header__nav {
    background-color: var(--NAV_BGCOLOR);
    border-bottom: var(--BORDERS);
    font-weight: bold;
    box-shadow: 0 6px 5px -5px var(--BORDER_COLOR);
}

.header__ul {
    padding: var(--PADDING_BLOCK) var(--PADDING_INLINE);
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

/* || HERO */

.hero {
    position: relative;
}
.hero__h2 {
    background-color: var(--HERO_BGCOLOR);
    color: var(--HERO_COLOR);
    padding: 0.25em 0.5em;
    text-shadow: 2px 2px 5px var(--BORDER_COLOR);
    position: absolute;
    left: 20px;
    top: -100px;
    animation: showWelcome 0.5s ease-in-out 1s forwards;
}

@keyframes showWelcome {
    0% {
        top: -20px;
        transform: skew(0deg, -5deg) scaleY(0);
    }
    80% {
        top: 30px;
        transform: skew(10deg, -5deg) scaleY(1.2);
    }
    100% {
        top: 20px;
        transform: skew(-10deg, -5deg) scaleY(1);
    }
}

/* || FOOTER */

.footer {
    position: sticky;
    bottom: 0;
    background-color: var(--HEADER_BGCOLOR);
    color: var(--HEADER_COLOR);
    padding: var(--PADDING_BLOCK) var(--PADDING_INLINE);
    text-align: center;
}

/* || MAIN */

.main {
    padding: var(--PADDING_BLOCK) var(--PADDING_INLINE);
}

.main__article {
    scroll-margin-top: 6.2rem;
    margin: var(--MARGIN);
}

.main__article:first-child {
    margin-top: 1em;
}

.main__article:last-child {
    min-height: calc(100vh - 20rem);
}

/* || ABOUT */

.about__trivia {
    margin: var(--MARGIN);
}

.about__trivia-answer {
    margin-top: 1em;
}

/* || CONTACT */

.contact__h2 {
    margin: 0;
}

.contact__fieldset {
    border: none;
}

.contact__p {
    margin: 1rem 0;
}

.contact__label {
    display: block;
    font-weight: bold;
}

.contact__input,
.contact__textarea {
    padding: 0.5em;
    border-radius: var(--BORDER_RADIUS);
    border-width: 2px;
    width: 100%;
}

.contact__btn {
    padding: 0.5em;
    border-radius: var(--BORDER_RADIUS);
    background-color: var(--HIGHLIGHT_COLOR);
    color: var(--BTN_COLOR);
    font-weight: bold;
}

/* || MENU */

thead,
tbody,
tfoot,
tr {
    display: contents;
}

.menu__container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas:
        "th1 th2 th3"
        "cr crq1 crp1"
        "cr crq2 crp2"
        "cr crq3 crp3"
        "sf sfq1 sfp1"
        "sf sfq2 sfp2"
        "sf sfq3 sfp3"
        "cs cs cs";
        gap: 0.1em;
        margin-bottom: 1em;
}
.menu__cr {
    grid-area: cr;
}

.menu__sf {
    grid-area: sf;
}

.menu__cs {
    grid-area: cs;
}

.menu__cr,
.menu__sf,
.menu__header,
.menu__cs{
    color: var(--HIGHLIGHT_COLOR);
    font-weight: bold;
    height: 100%;
    display: grid;
    place-content: center;
}

.menu__header,
.menu__item{
    width: 100%;
    padding: 1em;
    border: medium ridge var(--BORDER_COLOR);
}

.menu__item {
    display: grid;
    place-content: center;
}

.menu__header:first-child {
    border-top-left-radius: var(--BORDER_RADIUS);
}

.menu__header:last-child {
    border-top-right-radius: var(--BORDER_RADIUS);
}

.menu__cs {
    border-bottom-right-radius: var(--BORDER_RADIUS);
    border-bottom-left-radius: var(--BORDER_RADIUS);
}

@media screen and (min-width: 576px) {
    .header__h1::before {
        content: '🌮 '
    }

    .header__h1::after {
        content: ' 🌮'
    }

    .menu__header,
    .menu__item{
        font-size: 125%;
    }
}