* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --HEADER_BGCOLOR: #333;
    --HEADER_COLOR: whitesmoke;
}
body {
    min-height: 100wh;
}
header {
    background-color: var(--HEADER_BGCOLOR);
    color: var(--HEADER_COLOR);
    display: flex;
    width: 95%;
    height: 53.5px;
    position: fixed;
    top: 0px;
    z-index: 2;
}
h1 {
    width: 95%;
    text-align: center;
    text-transform: uppercase;
    padding: 7px;
}
section {
    position: sticky;
    top: 0;
    background-color: var(--HEADER_BGCOLOR);
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
 }
.menu-button {
    border: none;
    background-color: var(--HEADER_BGCOLOR);
    display: flex;
    flex-direction: column;
    width: 100%;
}
ul {
    list-style-type: none;
}
nav li {
    padding: 0.5rem;
}
nav a {
    font-size: large;
    display: block;
    text-align: center;
    width: 80%;
    margin: auto;
    text-decoration: none;
}
nav a:any-link {
    color: var(--HEADER_COLOR);
    font-weight: bold;
}
nav :is(a:hover, a:focus) {
    transform: scale(1.2);
    transition: all 0.3s;
}
nav {
    background-color: var(--HEADER_BGCOLOR);
    display: none;
    width: 100%;
}
.icon-div {
    background-color: var(--HEADER_BGCOLOR);
    width: 5%;
    height: 53.5px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.menu-icon,
.menu-icon::before,
.menu-icon::after {
    background-color: var(--HEADER_COLOR);
    height: 4px;
    width: 100%;
    border-radius: 5px;
    position: absolute;
    transition: all 0.5s;
}
.menu-icon::before,
.menu-icon::after {
    content: "";
}
.menu-icon::before {
    /* transform: translate(-20px, -12px); */
    top: -8px;
    left: 0px;
}
.menu-icon::after {
        /* transform: translate(-20px, 12px); */
        top: 8px;
        left: 0;
}
:is(.menu-button:hover, .menu-button:focus-within) .menu-icon {
    transform: rotate(720deg);
    background-color: transparent;
}
:is(.menu-button:hover, .menu-button:focus-within) .menu-icon::before {
    /* transform: translateX(-20px) rotate(45deg); */
    top: 0px;
    transform: rotate(45deg);
}
:is(.menu-button:hover, .menu-button:focus-within) .menu-icon::after {
    /* transform: translateX(-20px) rotate(-45deg); */
    top: -0px;
    transform: rotate(-45deg);
}
:is(.menu-button:hover, .menu-button:focus-within) nav {
    display: block;
}